{% extends 'base.html' %}

{% block head %}
<script>
  function handleClick(cb) {
    if (cb.checked == false) {
      // Remove
      var ulParent = document.getElementById("ingSel");
      var children = ulParent.children;
      for (var i=0; i<children.length; i++) {
        if (children[i].value == cb.value) {
          ulParent.removeChild(children[i]);
        }
      }
    } else {
      // Add
      var elem = document.createElement('li');
      elem.innerHTML = cb.value;
      elem.setAttribute("id", `li${cb.value}`);
      document.getElementById("ingSel").appendChild(elem);
    }
  }
  function addIng(elem) {
    
  }
  function rmIng(ing) {

  }
</script>
{% endblock %}


{% block body %}

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="{{ url_for('index') }}" class="logo">
					<span class="symbol"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" /></span><span class="title">ho<span style="color: #f2849e">ME</span> recipes</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Ingredients Selected</h2>
			<ul id="ingSel">
        <!-- <li><br><a href="{{ url_for('loading') }}" class="button primary fit">Start cooking!</a></li> -->
      </ul>
            
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
          <h1>Welcome to hoME Recipes<br />
               Stay home. Stay safe. Become a chef.&nbsp&nbsp<img src="{{ url_for('static', filename='images/coolEmoji.png') }}" style="max-width:50px;" alt="" /></h1>
					<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus
						arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros
						aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
                </header>
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="dairy-tab" data-toggle="tab" href="#dairy" role="tab">Dairy <img src="{{ url_for('static', filename='images/dairyIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="vegetables-tab" data-toggle="tab" href="#vegetables" role="tab">Vegetables <img src="{{ url_for('static', filename='images/vegIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="proteins-tab" data-toggle="tab" href="#proteins" role="tab">Proteins <img src="{{ url_for('static', filename='images/proIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="fruits-tab" data-toggle="tab" href="#fruits" role="tab">Fruits <img src="{{ url_for('static', filename='images/fruitIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="baking-tab" data-toggle="tab" href="#baking" role="tab">Baking <img src="{{ url_for('static', filename='images/bakingIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="oils-tab" data-toggle="tab" href="#oils" role="tab">Oils & Sauces <img src="{{ url_for('static', filename='images/sauceIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="nuts-tab" data-toggle="tab" href="#nuts" role="tab">Nuts <img src="{{ url_for('static', filename='images/nutsIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="sugars-tab" data-toggle="tab" href="#sugars" role="tab">Sugars & Spices <img src="{{ url_for('static', filename='images/spiceIcon.png') }}" style="max-width:25px;" alt="" /></a>
                    </li>
                    
                  </ul>
                  <form method=post>
                    <div class="tab-content" id="myTabContent">
                      <br>
                      <div class="tab-pane fade show active" id="dairy" role="tabpanel">
                        {% for ing in dairyIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="vegetables" role="tabpanel">
                        {% for ing in vegetablesIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="proteins" role="tabpanel">
                        {% for ing in proteinsIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="fruits" role="tabpanel">
                        {% for ing in fruitsIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="baking" role="tabpanel">
                        {% for ing in bakingIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="oils" role="tabpanel">
                        {% for ing in oilsIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="nuts" role="tabpanel">
                        {% for ing in nutsIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="sugars" role="tabpanel">
                        {% for ing in sugarsIng %}
                          <input type="checkbox" id="{{ ing }}" name="{{ ing }}" value="{{ ing }}" onclick='handleClick(this);'>
                          <label for="{{ ing }}">{{ ing }}</label>
                        {% endfor %}
                      </div>
                    </div>

                    <br>
                    <br>
                    <input type="submit" class="button fit" value="Start Cooking!">
                  </form>
	      </div>
      </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}