{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="{{ url_for('index') }}" class="logo">
					<span class="symbol"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="" /></span><span class="title">hoMErecipes</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Ingredients Selected</h2>
			<ul>
				<li>Home</li>
				<li>Ipsum veroeros</li>
				<li>Tempus etiam</li>
				<li>Consequat dolor</li>
                <li>Elements</li>
                <li><br><a href="{{ url_for('loading') }}" class="button primary fit">Start cooking!</a></li>
            </ul>
            
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<h1>This is Phantom, a free, fully responsive site<br />
						template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>
					<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus
						arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros
						aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
                </header>
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="dairy-tab" data-toggle="tab" href="#dairy" role="tab">Dairy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="vegetables-tab" data-toggle="tab" href="#vegetables" role="tab">Vegetables</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="proteins-tab" data-toggle="tab" href="#proteins" role="tab">Proteins</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="fruits-tab" data-toggle="tab" href="#fruits" role="tab">fruits</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="baking-tab" data-toggle="tab" href="#baking" role="tab">baking</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="oils-tab" data-toggle="tab" href="#oils" role="tab">oils</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="nuts-tab" data-toggle="tab" href="#nuts" role="tab">nuts</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="sugars-tab" data-toggle="tab" href="#sugars" role="tab">sugars</a>
                    </li>
                    
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="dairy" role="tabpanel">
                        dairy
                    </div>
                    <div class="tab-pane fade" id="vegetables" role="tabpanel">
                        vegetables
                    </div>
                    <div class="tab-pane fade" id="proteins" role="tabpanel">
                        proteins
                    </div>
                    <div class="tab-pane fade" id="fruits" role="tabpanel">
                        fruits
                    </div>
                    <div class="tab-pane fade" id="baking" role="tabpanel">
                        baking
                    </div>
                    <div class="tab-pane fade" id="oils" role="tabpanel">
                        oils
                    </div>
                    <div class="tab-pane fade" id="nuts" role="tabpanel">
                        nuts
                    </div>
                    <div class="tab-pane fade" id="sugars" role="tabpanel">
                        sugars
                    </div>

                  </div>
				
			</div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}