{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/loading.js') }}"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
    <header id="header">
        <div class="inner">
            <!-- Logo -->
            <a href="{{ url_for('index') }}" class="logo">
                <span class="symbol"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" /></span><span class="title">ho<span style="color: #f2849e">ME</span> recipes</span>
            </a>
        </div>
    </header>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Finding you the best recipes...</h1>
            </header>
            <section align="center">
                <video maxWidth="500" maxHeight="500" autoplay loop muted>
                  <source src="{{ url_for('static', filename='images/Ham_stays_safe.mp4') }}" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
                <p>Loading...Please wait</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}